*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
}

#display-number{
    font-size: 10rem;
}

@media(min-width: 576px){
    .title-app{
        font-size: 4rem;
    }

    #display-number{
        font-size: 16rem;
    }
}